<% if @model == 'user' %>
  <h3>Users search for：<%= @content %></h3>
  <%= render 'users/users_index', users: @records %>
<% else @model == 'books' %>
  <h3>Books search for : <%= @content %></h3>
    <%= render 'books/index', books: @records %>
<% end %>